<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managesystemrank</title>
</head>
<body>
    <div class="topbar">
        <button type="button" class="btn-outline-primary">ADMIN</button>
        <button type="button" class="btn-info">LOGOUT</button>
    </div>

<div class="container">

    <div class="managemember">
      <p class="managemembername">Manage Competition System</p>
      <button type="button" class="btn-outline-primary2">Reset Scores</button>
    </div>

    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col">Rank</th>
      
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>1800</td>
            <td>1</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>1800</td>
            <td>2</td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>1800</td>
            <td>3</td>
           
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry the Bird</td>
            <td>1800</td>
            <td>4</td>
            
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Larry the Bird</td>
            <td>1800</td>
            <td>5</td>
            
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry the Bird</td>
            <td>1800</td>
            <td>6</td>
           
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Larry the Bird</td>
            <td>1800</td>
            <td>7</td>
            
          </tr>
        </tbody>
      </table>

      <nav aria-label="Pagenavigation" >
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li> 
        </ul>
      </nav>
</div>


</body>
</html>
