<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managesystemrank</title>
</head>
<body>
    <div class="topbar">
        <button type="button" class="btn-outline-primary">ADMIN</button>
        <button type="button" class="btn-info">LOGOUT</button>
    </div>

<div class="container">

    <div class="managemember">
      <p class="managemembername">Weekly Member Report</p>
      <button type="button" class="btn-outline-primary2">Week</button>
      <button type="button" class="btn-outline-primary3">Month</button>
    </div>

    <div class="containerchart">
    <app-chartweek></app-chartweek>
    </div>

</div>


</body>
</html>
